# Ignore files with no extension but keep directories and files with extensions
*
!/**/
!*.*

# Explicitly keep important files without extensions (if any)
!Makefile
!LICENSE
!README

# Build directories and outputs
/bin/
/build/
/lib/
*.o
*.obj
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# VS Code files
/.vscode

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt